h1{
    text-align: center;
    background-color: red;
}
figure{
    text-align: center;
}
body{
    background-image: url(kepek/tethered_crash.jpg);
    color: white;
}
a{
    color: yellow;
}
h5{
    text-align: center;
}